{% extends '_base.html' %}
{% load static %}
{% block title %} My Booked Rooms ({{ request.user.username }}) {% endblock title %}
{% block content %}

<div class="container my-5">
   


   <div class="mt-5 ">
      
      <ul class="nav nav-pills n justify-content-center gap-2 mb-3" id="pills-tab" role="tablist">
         <li class="nav-item" role="presentation">
            <button class="nav-link px-5 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
               type="button" role="tab" aria-controls="pills-home" aria-selected="true">Upcoming Booking</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link px-5" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
               type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Cancelled Booking</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link px-5" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
               type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Completed Booking</button>
         </li>
      </ul>
      
      <div class="col-11 col-lg-8 mx-auto border py-2 p-md-3 rounded-lg border-2">
         <div class="tab-content" id="pills-tabContent">

            <!-- * Upcoming Bookings -->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

               <div class="container">
                  <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3">

                     {% if upcoming_bookings %}
                        
                     
                     {% for booking in upcoming_bookings %}
                                             
                     <div class="col">
                        <div class="p-3 border bg-light rounded-xl position-relative">
                           <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 justify-content-between gap-2">
                              
                              <div class="d-flex align-items-center gap-2">
                                 <div class=" p-3 rounded-full" style="background-color: #d9d9dbb3;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journals"
                                       viewBox="0 0 16 16">
                                       <path
                                          d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                                       <path
                                          d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                                    </svg>
                                 </div>
                                 
                                 <div>
                                    <h6 class="m-0 p-0 font-inter font-bold text-lg">
                                       Booking on {{booking.room.name}}
                                    </h6>
                                    <p class="text-sm text-black-50 d-inline-flex align-items-center gap-1 font-medium m-0 p-0 mt-2">
                                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                          width="18" height="18">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                             d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                       </svg>
                                       {{booking.room.hotel.address}} - {{booking.room.hotel.city}}
                                    </p>
                                 </div>
                              </div>

                              <a href="{% url 'users:cancel_booking' booking.id %}" class="btn btn-danger-soft btn-sm">
                                 Cancel Booking
                              </a>

                           </div>

                           <hr>

                           <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between gap-2">
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">                                    
                                    Check-in time
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    {{booking.start_date}}
                                 </h6>
                              </div>
                              
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    Check-out time
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    {{booking.end_date}}
                                 </h6>
                              </div>

                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    No of guests
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    Adults: {{booking.no_of_adults}}, Children: {{booking.no_of_children}} 
                                 </h6>
                              </div>

                           </div>

                           <div class="position-absolute top-0 end-0 w-fit">
                              {% if booking.is_active and not booking.is_confirmed %}
                                 <span class="badge bg-amber text-black text-xs">Pending</span>
                              {% elif booking.is_confirmed %}
                                 <span class="badge text-bg-success">Confirmed</span>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     
                     {% endfor %}

                     {% else %}

                     <p class="m-0 py-4 text-center text-danger font-medium">No upcoming bookings</p>

                     {% endif %}
                  </div>
               </div>

            </div>

            <!-- * Cancelled Bookings -->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
               
               <div class="container">
                  <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3">
               
                     {% if cancelled_bookings %}
                                    
                     {% for booking in cancelled_bookings %}
                           
                     <div class="col">
                        <div class="p-3 border bg-light rounded-xl">
                           <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 justify-content-between gap-2">
                     
                              <div class="d-flex align-items-center gap-2">
                                 <div class=" p-3 rounded-full" style="background-color: #d9d9dbb3;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journals"
                                       viewBox="0 0 16 16">
                                       <path
                                          d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                                       <path
                                          d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                                    </svg>
                                 </div>
                     
                                 <div>
                                    <h6 class="m-0 p-0 font-inter font-bold text-lg">
                                       Booking on {{booking.room.name}}
                                    </h6>
                                    <p class="text-sm text-black-50 d-inline-flex align-items-center gap-1 font-medium m-0 p-0 mt-2">
                                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                          stroke="currentColor" width="18" height="18">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                             d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                       </svg>
                                       {{booking.room.hotel.address}} - {{booking.room.hotel.city}}
                                    </p>
                                 </div>
                              </div>
                     
                           </div>
                     
                           <hr>
                     
                           <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between gap-2">
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    Check-in time
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    {{booking.start_date}}
                                 </h6>
                              </div>
                     
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    Check-out time
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    {{booking.end_date}}
                                 </h6>
                              </div>
                     
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    No of guests
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    Adults: {{booking.no_of_adults}}, Children: {{booking.no_of_children}}
                                 </h6>
                              </div>
                     
                           </div>
                        </div>
                     </div>
               
                     {% endfor %}

                     {% else %}
               
                     <p class="m-0 py-4 text-center text-danger font-medium">No cancelled bookings</p>

                     {% endif %}
                  </div>
               </div>

            </div>

            <!-- * Completed Bookings -->
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
               
               <div class="container">
                  <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3">
               
                     {% if completed_bookings %}

                     {% for booking in completed_bookings %}
                              
                     <div class="col">
                        <div class="p-3 border bg-light rounded-xl">
                           <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 justify-content-between gap-2">
                     
                              <div class="d-flex align-items-center gap-2">
                                 <div class=" p-3 rounded-full" style="background-color: #d9d9dbb3;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journals"
                                       viewBox="0 0 16 16">
                                       <path
                                          d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                                       <path
                                          d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                                    </svg>
                                 </div>
                     
                                 <div>
                                    <h6 class="m-0 p-0 font-inter font-bold text-lg">
                                       Booking on {{booking.room.name}}
                                    </h6>
                                    <p class="text-sm text-black-50 d-inline-flex align-items-center gap-1 font-medium m-0 p-0 mt-2">
                                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                          stroke="currentColor" width="18" height="18">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                             d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                       </svg>
                                       {{booking.room.hotel.address}} - {{booking.room.hotel.city}}
                                    </p>
                                 </div>
                              </div>
                                                   
                           </div>
                     
                           <hr>
                     
                           <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between gap-2">
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    Check-in time
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    {{booking.start_date}}
                                 </h6>
                              </div>
                     
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    Check-out time
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    {{booking.end_date}}
                                 </h6>
                              </div>
                     
                              <div>
                                 <p class="text-sm text-black-50 font-medium m-0 p-0 mt-2">
                                    No of guests
                                 </p>
                                 <h6 class="m-0 p-0 font-inter font-semibold text-lg">
                                    Adults: {{booking.no_of_adults}}, Children: {{booking.no_of_children}}
                                 </h6>
                              </div>
                     
                           </div>
                        </div>
                     </div>
               
                     {% endfor %}

                     {% else %}
                     
                     <p class="m-0 py-4 text-center text-danger font-medium">No completed bookings</p>
                     
                     {% endif %}
               
                  </div>
               </div>
               
            </div>
         </div>
      </div>

   </div>

</div>

{% endblock content %}