{% extends '_base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block style %}
{% endblock style %}

{% block content %}

<main class=" d-flex align-items-center justify-content-center" style="height: 90vh;">
   <form class="col-3 mx-auto gap-3 d-flex flex-column" method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <img class="mb-4 mx-auto" src="{% static 'img/hotel.png' %}" alt="" width="60" height="60">

      <h3 class="mb-3 font-bold text-center">Welcome back</h3>

      <div class="form-floating">
         <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
         <label for="email"class="font-inter">Email address</label>
      </div>
      <div class="form-floating">
         <input type="password" class="form-control" id="password" name="password" placeholder="Password">
         <label for="password" class="font-inter">Password</label>
      </div>

      <small class="text-end">
         <a href="{% url 'password_reset' %}" class="link-primary text-decoration-none">Forget Password ?</a>
      </small>

      <button class="w-100 btn btn-darkblue font-medium" type="submit">Sign in</button>

      <p class="text-center">New here? <a href="{% url 'register' %}" class="link-primary text-decoration-none">Create an account</a></p>
   </form>
</main>

{% endblock content %}